<h1>TO-DOOOOO-LISTS</h1>
<div> <!-- Upcoming TASK -->
	<table class = "task">
		<h2>Upcoming Task : </h2>
		<tr><td class="headnum">26/11</td>
			<td>Lab DataComm</td>
			<td>Assignment DataComm</td>
			<td>Assignment Digital</td>
		</tr>
	</table>
</div>
<div> <!-- Upcoming EVENT -->
	<table class = "task">
		<h2>Upcoming Event : </h2>
		<tr>
			<td class="headnum">19-20/11</td>
			<td>หยุดท่องเที่ยว</td>
		</tr>
		<tr>
			<td class="headnum">22/11</td>
			<td>DSC Android Dev Kotlin</td>
		</tr>
		<tr>
			<td class="headnum">26/11</td>
			<td>Digital Lab Test</td>
		</tr>
		<tr>
			<td class="headnum">27/11</td>
			<td>DataStruc Lab Test</td>
			<td>DataComm Lab Test</td>
		</tr>
	</table>
</div>
<div> <!-- Subject -->
	<h2>2D CE KMITL:</h2>
	<ul>
	<div>
	<li class="head">Linear Algebra</li>
		<ul>
			<li>Homework : 3 4 5 6 7</li>
		</ul>
	</div>
	<div>
	<li class="head">Digital System Fundamental</li>
		<ul>
			<li>Assignment: <a href ="https://hackaday.com/2012/01/03/two-player-space-invaders-via-fpgas/">Two-Player Space Invaders</a></li>
		</ul>
	</div>
	<div>
	<li class="head">Data Communication</li>
		<ul>
			<li>Lab: <a href="D:/CE/2-1/01076007%20Data%20Communications/Lab/Lab10/AMTDC.pdf" target="_blank">10AMTDC</a></li>
			<li>Assignment: <a href = "https://docs.google.com/document/d/1lCAKcCvDOUd78t_YZG8W5tjDkQTTrvopiaaOMNXXE0I/edit" target="_blank">OV7670</a></li>
		</ul>
	</div>
	<div>
	<li class="head">Math Daily</li>
		<ul>
			<li>Lecture last half</li>
		</ul>
	</div>
	<div>
	<li class="head">Psychology of Thinking</li>
		<ul>
			<li>Lecture last half</li>
		</ul>
	</div>
	</ul>
</div>
<div> <!-- Task -->
	<h2>TASK:</h2>
	<ul>
	<div>
	<li class="head">ToDo-App [ Flutter ]</li>
		<ul>
			<li>Drag n Drop lists</li>
			<li>EXP Points</li>
		</ul>
	</div>
	<div>
	<li class="head">Smart Glove [ ESL ]</li>
		<ul>
			<li>Installation</li>
			<li>Integrate</li>
		</ul>
	</div>
	<div>
	<li class="head">Smart Classroom [ ESL ]</li>
		<ul>
			<li>Dealth with Angular</li>
			<li>Deploy self-site</li>
		</ul>
	</div>
	<div>
	<li class="head">Spider-Bot</li>
		<ul>
			<li>Find 3D Model</li>
			<li>Build</li>
		</ul>
	</div>
	</ul>
</div>